#img-div{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    height: 500px;
}

#image{
    max-width: 100%;
    height: auto;
}

#title{
    text-align: center;
}

#parrafo, #img-caption{
    text-align: center;
    color: white;
}
  
